<mat-drawer-container class="dashboard-container" autosize>

  <!--SIDEBAR-->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Menu Prinncipal</p>
    @if (showFiller) {
    <p>Carerras</p>
    <p>Cursos</p>
    <p>Tecnicaturas</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
     Opciones
    </button>
  </mat-drawer>
  <!--SIDEBAR-->

    <!--CONTENIDO-->

  <div class="example-sidenav-content">
      <!--TOOLBAR-->

    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
     <!--TOOLBAR-->
<div class="p-5">
 <app-usuarios></app-usuarios>

</div>
  </div>
   <!--CONTENIDO-->
</mat-drawer-container>
